<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/bootstrap/css/bootstrap-datetimepicker.min.css') }}">
</head>

<body>
    <div class="container">
        <form action="" class="form-horizontal">
            <fieldset>
                <legend>Test</legend>
                <div class="control-group">
                    <label class="control-label">DateTime Picking</label>
                    <div class="controls input-append date form_datetime" data-date="1979-09-16T05:25:07Z"
                        data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                        <input id="time" size="16" type="text" value="" readonly onclick="tex()">
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <input type="hidden" id="dtp_input1" value="" /><br />
                </div>
            </fieldset>
        </form>
    </div>

    <script src="{{ url_for('static', filename='javascript/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/bootstrap/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/bootstrap/js/locales/bootstrap-datetimepicker.fr.js') }}">
    </script>

    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });

        function tex() {
            console.log($('#time').val());
        };
    </script>
    
</body>
</html>