{% extends './HTML/template.html' %}
{% block main %}

<div class="container grey">
    <div class="row">
        <div class="col-md-2">
            <div class="head">
                Title
            </div>
            <br>
        </div>
        <div class="col-md-10">
        </div>
    </div>
    <form action="{{ url_for('addTask') }}">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group input-group-lg">
                    <input id="title" name="title" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="head">
                &nbsp Description
            </div>
            <div class="col-md-12">
                <br>
                <div class="form-group">
                    <textarea id="description" name="description" class="form-control" rows="7"></textarea>
                </div>
            </div>
        </div>
        <div class="row">

            <button id="submit-task" type="submit" class="btn btn-lg btn-success submit-btn"
                onclick="addCheck()">submit</button>
        </div>
    </form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}